*{
    line-height: normal;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

h2{
    line-height: normal;
    font-size: 1.2em;
}

.datiProfilo{
    clear: left;
}

#opere li{
    flex-basis: 200px;
}

/*
--------------------------------------------
Stile Mostre
--------------------------------------------
*/

#mostre>ul{
    text-align: left;
    margin: 1em 0;
    padding: 0;
}

.cardMostra{
    background-color: var(--bannerBackground);
    padding: 0;
    display: inline-block;
    overflow: hidden; /*In caso lo schermo dell'utente non fosse abbastanza grande da contente la descrizione della mostra*/
    color: var(--txtColor);
    font-size: 0.9em;
    line-height: 1em;
    width: 200px;
    max-width: none;
    min-height: 230px;
}

.cardMostra img{
    aspect-ratio: 1/1;
    float: none;
    width: 200px;
    height: auto;
}

.cardMostra dl{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 0.8em;
    align-items: center;
}