.navigationHelp{
    position: absolute;
}

header h1{
    text-indent: -999em;
    background-image: url("../images/logomini.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3.5em;
    line-height: 1.5em;
}

.cardmain {
    width: 100%;
    flex-direction: column;
}

.cardmainimg {
    width: 100%;
    object-fit: cover;
}

.cardmaintext {
    width: 100%;
    padding: 2em 2em 4em 2em;
}

.cardmain iframe {
    width:100%;
    min-height: 350px;
    margin: 0;
}

.cardmain:nth-child(even) {
    flex-direction: column;
}

.cardnextshow {
    width: 100%;
    padding: 1em;
}

#linknextshow{
    padding: 4em 1em 0em;
}

.artwork_section{
    display:flex;
    flex-direction:column-reverse;
}
.the_artwork{
    display:flex;
    flex:1;
    flex-direction:column;
    height:100vh;
    position:relative;
}

.enlarged-overlay img {
    object-fit: cover;
}

footer{
    flex-wrap: wrap-reverse;
}

footer div {
    padding: 2em 1em;
}

.error404{
    width: 100%;
    margin: auto;
    text-align: center;
}

.error404 h2{
    padding: 0;
}

.artshow_list {
    display: block;
    width: 100%;
    margin: 4em auto;
}

#artshow_layout{
    flex-direction: column;
}

.artshow_mainimage{
    width: 100%;
    object-fit: cover;
}

#artshow_maininfo{
    width: 100%;
    padding: 2em;
}

.select_filter_list {
    flex-direction: column;
}

.select_filter_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}
.select_filter_container label {
    margin: 0;
}

.filters_labels {
    width: 100%;
}

