.navigationHelp{
    position: absolute;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    background-image: url("../images/logomini.png");
    font-size: 3em;
}

#menu {
    width: max-content;
    color: white;
    transition: transform 0.5s ease;
    z-index: 3;
}    

#menu input,#menu label {
    display: block;
}

#menu nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding: 5em 0 3em 0;
    background: var(--headerBgColor);
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

#menu nav ul {
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#menu nav ul li {
    padding-bottom: 15px;
}

.hamburger {
    width: 32px;
    height: 32px;
    transition: transform 0.5s ease;
    z-index: 3;
    cursor: pointer;
    padding-top: 5px;
    position: absolute;
    right: 1em;
}

.hamburger .slice {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
}

.hamburger .slice:not(:first-child) {
    margin-top: 10px;
}

#menu .menu_checkbox:focus-visible .hamburger {
    outline: auto;
}

#menu nav a {
    visibility: hidden;
}

#menu .menu_checkbox:checked ~ nav a {
    visibility: visible;
}

#menu .menu_checkbox:checked ~ nav {
    transform: translateX(0%);
}

#menu .menu_checkbox:checked ~ .hamburger {
    position: fixed;
}

#menu .menu_checkbox:checked ~ .hamburger .slice:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

#menu .menu_checkbox:checked ~ .hamburger .slice:nth-child(2) {
    opacity: 0;
}

#menu .menu_checkbox:checked ~ .hamburger .slice:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.cardmain {
    width: 100%;
    flex-direction: column;
}

.cardmainimg {
    width: 100%;
    object-fit: cover;
}

.cardmaintext {
    width: 100%;
    padding: 2em 2em 4em 2em;
}

.cardmain iframe {
    width:100%;
    min-height: 350px;
    margin: 0;
}

.cardmain:nth-child(even) {
    flex-direction: column;
}

.cardnextshow {
    width: 100%;
    padding: 1em;
}

#linknextshow{
    padding: 4em 1em 0em;
}

.artwork_section{
    display:flex;
    flex-direction:column-reverse;
}
.the_artwork{
    display:flex;
    flex:1;
    flex-direction:column;
    height:100vh;
    position:relative;
}

.enlarged-overlay img {
    object-fit: cover;
}

footer{
    flex-wrap: wrap-reverse;
}

footer div {
    padding: 2em 1em;
}

.error404{
    width: 100%;
    margin: auto;
    text-align: center;
}

.error404 h2{
    padding: 0;
}

.error500{
    width: 100%;
    margin: auto;
    text-align: center;
}

.error500 h2{
    padding: 0;
}

.gallery_item {
    margin: 0;
    max-width: unset;
}

.artshow_results_section {
    grid-template-columns: 1fr;
}

.artshow_list {
    display: block;
    width: 100%;
    margin: 4em auto;
}

#artshow_layout{
    flex-direction: column;
}

.artshow_mainimage{
    width: 100%;
    object-fit: cover;
}

#artshow_maininfo{
    width: 100%;
    padding: 2em;
}

.select_filter_list {
    flex-direction: column;
}

.select_filter_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}
.select_filter_container label {
    margin: 0;
}

.filters_labels {
    width: 100%;
}

.login_page {
    display: flex;
    align-items: center;
    width: 100%;
    background-image: none;
    min-height: unset;
}

.login_container {
    width: 100%;
    border-radius: 0;
    margin: 0;
}

.input_container {
    display: block;
}