* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(155,0,20);
    --headerTxtColor: rgb(255,255,255);
    --bgColor: rgb(255,255,255);
    --txtColor: rgb(0,0,0);
    --font-body-family: "Roboto Condensed", sans-serif;

    --footerBgColor: rgb(69,73,83);
    --footerTxtColor: rgb(255,255,255);
    --footerlinkColor: rgb(255,255,255);
    
    --navvisitedLinkColor: rgb(255,255,255);
    --navlinkColor: rgb(149,165,166);
    --flagColor: rgb(155,0,20);
    --imageBackground: rgb(248,248,248);
    --bannerBackground: rgb(242,242,242);
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bgColor);
}

.navigationHelp{
    position: absolute;
    text-indent: -999em;
}

header {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header h1{
    text-indent: -999em;
    background-image: url("../image/logomini.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3.5em;
    line-height: 1.5em;
}

.cardmain {
    flex-direction: column;
    margin: 2em 2em 0em;
}

.cardmainimg {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.cardmaintext {
    width: 100%; 
    height: 50%;
    padding: 1em;
}

.cardmain:nth-child(odd) {
    flex-direction: column;
}

.cardnextshow {
    width: 100%; 
    padding: 1em;
}

#linknextshow{
    padding: 4em 1em 0em;
}

.indexh{
    padding-bottom: 1em;
    text-align: center;
    margin: auto;
}

footer{
    flex-wrap: wrap-reverse;
}

#logofoot{
    display: none;
}







.error404 h2{
    padding: 0;
}