html{
    padding: 0.5cm;
}

h3, h4, h5, h6{
    font-size: 1.5em;
}

.navigationHelp{
    display: none;
}

#menu{
    display: none;
}

.breadcrumb, .breadcrumb li{
    display: inline;
    list-style: none;
}

.breadcrumb li:after{
    content: "/";
    padding: 1em;
}

.cardmain{
    display: flex;
    flex-direction: row-reverse;
}

.cardmainimg{
    display: none;
}

.cardmain iframe{
    display: none;
}

#imgnextartshow{
    display: block;
    width: 10cm;
    height: auto;
    margin: 1.5cm;
}

.cardnextshow p, .cardnextshow p+p{
    display: inline;
}

.cardnextshow a{
    display: none;
}

#partners{
    text-align: center;
}

.partners_cards{
    display: flex;
    flex-wrap: wrap;
    margin: 1cm;
    list-style: none;
    gap: 0.75cm;
    justify-content: center;
}

.partners_cards li a img {
    height: 4em;
    width: 4em;
}

footer{
    margin-top: 2cm;
}

#infofoot{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 0.8em;
}

#listinfofoot{
    list-style: none;
}

#logofoot{
    display: none;
}

#orariofoot{
    display: none;
}

#artshow_maintext_info{
    font-size: 1em;
}

.artshow_gallery_item{
    width: 100%;
    padding: 0.2cm;
    border: 0.5px solid grey;
    display: flex;
    flex-direction: row;
}

.artshow_gallery_item_info{
    margin-left: 0.5cm;
}

.artshow_gallery_item_image img{
    width: auto;
    height: 4cm;
}

.return_top_button{
    display: none;
}

.pagination_controls{
    display: none;
}

#labels_list{
    list-style: none;
}

.filters_labels ul {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
}
.filters_labels ul li {
    align-items: center;
    display: flex;
    position: relative;
    white-space: nowrap;
}

.artist_gallery_item{
    padding: 0.5cm 0 0.5cm;
    display: flex;
    flex-direction: row;
}

.artist_gallery_item_image img{
    width: auto;
    height: 3cm;
}

.results_gallery .results_section .hidden{
    display: none;
}

.results_gallery .artist_results_section .hidden{
    display: none;
}

.gallery_item{
    padding: 0.5cm 0 0.5cm;
    display: flex;
    flex-direction: row;
}

.artwork_gallery_item_title{
    padding: 1cm;
}

.artwork_gallery_item_image img{
    width: auto;
    height: 4.5cm;
}

.artwork_gallery_item_image, .gallery_item figcaption{
    display: inline-block;
}

.artwork_interactions{
    display: none;
}

.label_list li a{
    color: black;
    text-decoration: none;
}

#artwork_image{
    max-width: 10cm;
    max-height: 10cm;
    width: auto;
    height: auto;
}

.additional_images_carousel div img{
    height: 5cm;
    width: auto;
}

.artshow_mainimage {
    display: none;
}

.button_reverse{
    display: none;
}

.artist_mini_preview a img{
    height: 3cm;
    width: auto;
    margin-right: 1cm;
}

.artist_image_container img {
    height: 5cm;
    width: auto;
    margin-top: 1cm;
}

#content #artshow_layout .artshow_mainimage{
    display: block;
    height: 5cm;
    width: auto;
}

#content #artshow_layout .print_hidden{
    display: none;
}




.artist_section {
    max-width: min(85vw, 900px);
    margin: auto;
}

.artist_header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 2px solid var(--colorMediumGrey);
}

.artist_image_container {
    width: 5cm;
    height: auto;
}

.artist_image_container img {
    height: auto;
    width: 5cm;
}

.artist_info{
    margin-top: 1cm;
}

.artist_info h2 {
    font-size: 2em;
    font-weight: 500;
    word-break: break-word;
}

.artist_info h3 {
    font-size: 1.1em;
    font-weight: 600;
}

.artist_info h2, .artist_info h3{
    display: inline;
}

.artist_info dl {
    display: grid;
    column-gap: 2em;
    row-gap: 0.8em;
    align-items: center;
}

.artist_info dl dt {
    grid-column-start: 1;
    font-weight: 600;
}

.artist_info dl dd {
    grid-column-start: 2;
}

.artwork_section{
    display: flex;
    flex-direction: column-reverse;
}
 .the_artwork{
    margin: auto;
}

.artist_results_section .gallery_item{
    display: inline-block;
    margin-right: 0.5cm;
    width: 8cm;
}

.artist_results_section .gallery_item .artist_gallery_item{
    padding: 0.5cm;
    border: 0.5px solid grey;
}

.artist_gallery_item_info{
    margin-left: 0.5cm;
    width: 3cm;
    display: flex;
    flex-direction: column;
}

.artist_gallery_item_title, .artist_mini_preview_info{
    display: flex;
}

.gallery_item figcaption .artist_mini_preview_info{
    margin-left: 1cm;
}

.results_section .gallery_item{
    padding: 0.2cm;
    border: 0.5px solid grey;
}

.artwork_info .artist_mini_preview .artist_mini_preview_info a{
    margin-top: 0.4cm;
    margin-left: 0.5cm;
}


.is_active{
    display: none;
}

.additional_images_carousel{
    display: flex;
}

.thumbnail_slide{
    margin: auto;
}


.cardnextshow h4{
    margin-top: 2cm;
}