* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(155,0,20);
    --headerTxtColor: rgb(255,255,255);
    --bgColor: rgb(255,255,255);
    --txtColor: rgb(0,0,0);
    --font-body-family: "Roboto Condensed", sans-serif;

    --footerBgColor: rgb(69,73,83);
    --footerTxtColor: rgb(255,255,255);
    --footerlinkColor: rgb(255,255,255);
    
    --navvisitedLinkColor: rgb(255,255,255);
    --navlinkColor: rgb(149,165,166);
    --flagColor: rgb(155,0,20);
    --imageBackground: rgb(248,248,248);
    --bannerBackground: rgb(242,242,242);
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bgColor);
}

.navigationHelp{
    position: absolute;
    text-indent: -999em;
}

header {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header h1{
    text-indent: -999em;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3.5em;
    line-height: 1.5em;
}

nav {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
}

nav a:link {
    color: var(--navlinkColor);
}

nav a:visited {
    color: var(--navvisitedLinkColor);
}

#menu ul {
    margin: auto;
    padding: 0em 3em;
    list-style-type: none;
    text-align: center;
}

#menu ul li{
    display: inline-block;
    width: 5em;
    margin: 0 0.5em;
    font-size: 1.1em;
}

#breadcrumb {
    padding: 1em 3em;
}

#breadcrumb p {
    padding: 1em;
    margin: auto;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#bannermain{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.95)), url(../images/palazzo_bo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
    font-size: 1.5em;
}

#bannermain h2{
    padding: 1em;
}

.cardmain {
    background-color: var(--bannerBackground);
    display: flex;
    flex-direction: row;
    margin: 2em 2em 0em;
    overflow: hidden; 
    max-width: 1000px;
}

.cardimg {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.cardtext {
    text-align: left;
    justify-content: left;
    width: 50%; 
    padding: 2em;
    box-sizing: border-box; 
}

.cardmain:nth-child(odd) {
    flex-direction: row-reverse;
}

.cardmain a:link{
    color: var(--flagColor);
}

.cardmain a:visited{
    color: var(--footerBgColor);
}

.cardnextshow {
    text-align: left;
    justify-content: left;
    width: 50%; 
    padding: 2em;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
}

#nextshow{
    text-transform: uppercase;
}

#linknextshow{
    text-align: right;
    padding: 4em 2em 2em;
    font-weight: bold;
}

.contentpartners{
    text-align: justify;
    justify-content: center;
    display: flex;
    max-width: 900px;
    padding:  3em 2em 1em;
    margin: auto;
}

.contentpartners{
    display: inline-block;
}

#partners{
    text-align: center;
    padding: 2em;
}

.cards{
    margin: auto;
    padding: 1em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 80em;
    justify-content: center;
}

.cards li{
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 0 0 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.cards li a:link{
    filter: opacity(70%);
}

.cards li a:hover{
    filter: opacity(100%);
}

h2, h3, h4, h5, h6{
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 1em;
}

h6{
    text-align: center;
}

footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer div{
    text-align: center;
    padding: 1em 4em 1em;
}

footer a:link{
    color: var(--footerlinkColor);
}

footer a:visited{
    color: var(--footerlinkColor);
}

#infofoot{
    font-size: 0.8em;
    line-height: 1.5em;
}

#infofoot p{
    padding: 0em 0em 1em;
}

#listinfofoot{
    list-style: none;
}

#orariofoot{
    font-size: 0.8em;
    line-height: 1.5em;
}

#infofoot, #logofoot, #orariofoot{
    display: inline-block;
}

#orariofoot table tbody>tr:nth-child(even), #orariofoot table thead {
    background-color: rgb(59,69,79);
}

#orariofoot table td, #orariofoot table th {
    text-align: left;
    padding: 0em 0.5em 0em;
}

#orariofoot table caption{
    font-weight: bold;
    font-size: 1.1em;
}