* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(167, 0, 22);
    --headerTxtColor: rgb(255,255,255);
    --bgColor: rgb(255,255,255);
    --txtColor: rgb(0,0,0);
    --font-body-family: MetSans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    --elegant-font-family: MetSerif,Georgia,serif;

    --footerBgColor: rgb(69,73,83);
    --footerTxtColor: rgb(255,255,255);
    --footerlinkColor: rgb(255,255,255);

    --linkColor: rgb(100,100,100);
    
    --navVisitedLinkColor: rgb(200, 200, 200);
    --navLinkColor: rgb(255,255,255);
    --flagColor: rgb(167, 0, 22);
    --imageBackground: rgb(248,248,248);
    --imageBackgroundHover: rgb(240, 240, 240);
    --bannerBackground: rgb(242,242,242);

    --colorLightGrey: #fafafa;
    --colorMediumGrey: #e3e3e3;
    --colorDarkGrey:#333;
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bgColor);
    scroll-behavior: smooth;
}

.navigationHelp{
    position: absolute;
    text-indent: -999em;
}

header {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: MetSerif,Georgia,serif;
    line-height: normal;
    font-weight: 500;
}

header h1{
    text-indent: -999em;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3.5em;
    line-height: 1.5em;
}

#menu {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    padding-bottom: 20px;
}

#menu a:link {
    color: var(--navLinkColor);
}

#menu a:visited {
    color: var(--navVisitedLinkColor);
}

#menu ul {
    margin: auto;
    padding: 0em 3em;
    list-style-type: none;
    text-align: center;
}

#menu ul li{
    display: inline-block;
    width: 5em;
    margin: 0 0.5em;
    font-size: 1.1em;
}

#breadcrumb {
    width: min(85vw, 1440px);
    margin: 20px auto;
}

.breadcrumb{
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumb li:after{
    content: "/";
    padding: 8px;
}

.breadcrumb li:last-child::after{
    display: none;
}

.breadcrumb li:last-child{
    color: var(--txtColor);
}

.breadcrumb a{
    text-decoration: none;
    color: var(--linkColor);
}

.breadcrumb a:hover, a:focus{
    text-decoration: underline;
}

#bannermain{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.8)), url(../images/palazzo_bo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
    font-size: 2.5em;
    text-align: center;
}

.cardmain {
    width: min(85vw, 1440px);
    min-height: 400px;
    background-color: var(--bannerBackground);
    display: flex;
    margin: 4em auto;
}

.cardmainimg {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.cardmaintext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
    padding: 3em 2em;
    box-sizing: border-box;
}

.cardmain iframe {
    width:50%;
    border:0;
    margin: 0;
}

.cardmain:nth-child(even) {
    flex-direction: row-reverse;
}

.cardmain a:link{
    color: var(--flagColor);
}

.cardmain a:visited{
    color: var(--navVisitedLinkColor);
}

.cardnextshow {
    background-color: var(--headerBgColor);
    min-height: 400px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 3em 2em;
    box-sizing: border-box;
}

.cardnextshow p {
    padding-top: 1em;
}

.cardnextshow p time {
    padding: 0 15px;
}

#nextshow{
    text-transform: uppercase;
}

.cardnextshow a{
    padding-top: 2em;
    color: var(--navLinkColor);
    font-weight: bold;
}

.contentpartners{
    width: min(85vw, 900px);
    text-align: justify;
    margin: auto;
}

#partners{
    text-align: center;
    padding: 2em;
}

.partners_cards{
    margin: auto;
    padding: 1em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 80em;
    justify-content: center;
}

.partners_cards li{
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 3px;
    flex: 0 0 200px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 6, 0.18), 0 0 4px 0 rgba(0, 0, 6, 0.18);
}

.partners_cards li:hover{
    background-color: var(--bannerBackground);
    transition: all .2s ease-out;
}

.partners_cards li a:link{
    filter: opacity(100%);
}

.card_header{
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 1em;
}

h5[class="card_header"]{
    text-align: center;
}

footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 50px 0;
}

footer div{
    text-align: center;
    padding: 1em 4em 1em;
}

footer a:link{
    color: var(--footerlinkColor);
}

footer a:visited{
    color: var(--footerlinkColor);
}

#infofoot{
    font-size: 0.8em;
    line-height: 1.5em;
}

#infofoot p{
    padding: 0em 0em 1em;
}

#listinfofoot{
    list-style: none;
}

#orariofoot{
    font-size: 0.8em;
    line-height: 1.5em;
}

#infofoot, #logofoot, #orariofoot{
    display: inline-block;
}

#orariofoot table tbody>tr:nth-child(even), #orariofoot table thead {
    background-color: rgb(59,69,79);
}

#orariofoot table td, #orariofoot table th {
    text-align: left;
    padding: 0em 0.5em 0em;
}

#orariofoot table caption{
    font-weight: bold;
    font-size: 1.1em;
}



.error404{
    width: min(85vw, 1440px);
    margin: auto;
    text-align: center;
}

.error404 h2{
    background-image: url("../images/404.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 10em;
    line-height: 2em;
    text-indent: -999em;
    padding: 0.5em 1em 0em;
    margin: 0;
}

.error404 p{
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 2em 1em;
}

.error404 p+p{
    font-size: 1em;
    font-weight: normal;
    padding: 0em 2em 1em;
}

.error404 a:link{
    color: var(--flagColor);
}

.error404 a:visited{
    color: var(--footerBgColor);
}





.artwork_section{
    width: min(85vw,1440px);
    display:grid;
    grid-column-gap:calc(3em);
    grid-template-columns:1fr 60%;
    margin:0 auto;
    padding:0;
    padding-bottom: 4em;
    border-bottom:1px solid #e6e6e6;
}

.artwork_info{
    width:100%;
    padding-top:35px;
}

.artwork_title {
    font-size: 3em;
    font-weight: 500;
    word-break: break-word;
    margin-bottom: 1em;
}

.artist_mini_preview {
    display: flex;
    align-items: center;
}
.artist_mini_preview img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    border: #ccc 3px solid;
    cursor: pointer;
}
.artist_mini_preview_info {
    margin-left: 15px;
    color: black;
}
.artist_mini_preview_info p{
    font-weight: 600;
}
.artist_mini_preview_info a{
    font-size: 0.8em;
    color: black;
}
.artist_mini_preview_info a::before {
    content: "@";
}

.artwork_info_desc{
    margin-top:calc(24px + .75vw);
    position:relative;
    transition:max-height .3s cubic-bezier(.76,0,.24,1);
    word-break:break-word;
}
.artwork_info_desc h3{
    font-size: 1.5em;
    font-weight: 800;
    margin: 20px 0 10px 0;
}

.artwork_details {
    display: grid;
    column-gap: 2em;
    row-gap: 0.8em;
    align-items: center;
}

.artwork_details dt {
    grid-column-start: 1;
    font-weight: 600;
}

.artwork_details dd {
    grid-column-start: 2;
}

.the_artwork_meta{
    display: flex;
    margin: 10px auto;
    width: 100%;
    justify-content: end;
}

.artwork_caption{
    color:#4a4a4a;
    flex:0.8;
    font-size:0.8em;
    line-height:1em;
    text-align:left;
    margin:0 15px;
}

.artwork_interactions{
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    order: 4;
    width: 100%;
}
.artwork_interaction{
    margin:0;
    padding:0;
}
.artwork_interaction button{
    background:0 0;
    margin: 0 5px;
    padding: 0;
    border:none;
    cursor:pointer;
}
.artwork_interaction button .icon {
    height: 1.5em;
    width: 1.5em;
    cursor:pointer;
}
.artwork_interaction button:hover{
    opacity:.5
}

.artwork_interaction a{
    background:0 0;
    margin: 0 5px;
    padding: 0;
    border:none;
    cursor:pointer;
}
.artwork_interaction a .icon {
    height: 1.5em;
    width: 1.5em;
    cursor:pointer;
}
.artwork_interaction a:hover{
    opacity:.5
}

.download_text,.enlarge_text{
    display:none
}

.enlarged-overlay {
    text-align: center;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    cursor: zoom-out;
    overflow: hidden;
}

.enlarged-overlay img {
    width: 80%;
    height: auto;
    margin: auto;
}

.the_artwork{
    display:flex;
    flex:1;
    flex-direction:column;
    height:100vh;
    position:sticky;
    top:0px;
}
.the_artwork_figure{
    display:flex;
    flex-direction:column;
    height:70vh;
    padding-top:30px;
    position:relative
}
.artwork_image_wrapper{
    align-items:center;
    background:#f8f8f8;
    display:flex;
    flex:20 1px;
    flex-direction:column;
    height:1px;
    justify-content:center;
    padding:15px
}
.artwork_image_cover{
    position:absolute;
    width:100%;
    z-index:99
}
.artwork_image{
    max-height:100%;
    max-width:100%;
}
 
.additional_images_carousel{
    display: flex;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    column-gap:10px;
    width: 90%;
    margin: 0 auto;
}
.thumbnail_slide{
    flex: 0 0 auto;
    cursor:pointer;
    height:5em;
    margin-bottom: 10px;
    width:5em
}
.thumbnail_slide img{
    height:100%;
    object-fit:cover;
    object-position:50% 50%;
    opacity:.4;
    width:100%
}
.thumbnail_slide:hover img{
    opacity:.7
}
.thumbnail_slide.is_active{
    cursor:default
}
.thumbnail_slide.is_active img{
    opacity:1
}

.label_list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 7px;
}
.label_list .label a{
    color: black;
    text-decoration: none
}
.label{
    background: #fff;
    border: 2px solid var(--colorMediumGrey);
    border-radius: 32px;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: var(--colorDarkGrey);
    font-size: 0.8em;
    padding: 5px 15px;
    user-select: none;
}
.label:hover{
    background-color:var(--colorMediumGrey);
    cursor:pointer
}

.artshow_list {
    display: flex;
    flex-wrap: wrap;
    width: min(85vw, 1440px);
    margin: 4em auto;
    gap: 20px;
}
.artshow_card {
    min-height: 400px;
    background-color: var(--bannerBackground);
    width: calc(50% - 20px);
}
.artshow_image_link {
    background-color:var(--colorMediumGrey);
    border:none;
    display:flex;
    height:350px;
    justify-content: center;
    overflow:hidden;
}
.artshow_image{
    margin: auto;
    max-height: 350px;
    object-fit: contain;
    transform-origin: center;
    transition: all .4s ease-out
}
.artshow_image:focus-within,.artshow_image:hover{
    transform:scale(1.06)
}
.artshow_card_info {
    text-align: left;
    padding: 1em 2em;
    box-sizing: border-box;
}
.card_header a{
    border:none;
    text-decoration: none;
    color: black;
}
.card_header a:hover{
    text-decoration:underline
}

.artshow_card a:visited{
    color: var(--linkColor);
}


#contenuto h2{
    margin-bottom: 1em;
    text-align: center;
}

#titolo{
    width: 100%;
    max-width: min(85vw, 1440px);
    margin: 0em 1em;
    padding: 0.5em 1em;
}

#label {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: min(85vw, 1440px);
    justify-content: flex-start;
    padding: 1em;
    list-style-type: none;
}

#label li {
    flex: 0 0 12em;
    margin: 0 0.5em;
}

#labelricerca{
    text-align: left;
}

#ricerca{
    width: min(85vw, 1440px);
    margin: auto;
    text-align: center;
}

#ricerca > div{
    margin-bottom: 1em;
}

#ricercatitolo {
    display: flex;
    flex-wrap: nowrap
}

#ricercatitolo input[type=submit]{
    padding: 0.5em 1em;
}

#opzioniricerca{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#opzioniricerca > div{
    display: inline;
    margin: 0.25em;
}

#opzioniricercalabel{
    display: block;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
}

div label{
    margin: 0em 0.5em;
}

.dimensioni input[type=number]{
    padding-left: 0.5em;
    width: 5em;
    height: 1.5em;
    text-align: left;
}

#opzioniricerca div select{
    padding: 0.25em;
}

#risultati{
    width: min(85vw, 1440px);
    margin: auto;
    text-align: center;
}

/*
#opere{
    display: grid;
    margin: 1em 0em;
    justify-content: center;
    gap: 1em;
    max-width: min(85vw, 1440px);
    list-style: none;
}

@media (min-width: 600px) {
    #opere {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 950px) {
    #opere {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1250px) {
    #opere {
        grid-template-columns: repeat(4, 1fr);
    }
}*/

#opere{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0em;
    justify-content: center;
    gap: 1em;
    max-width: min(85vw, 1440px);
    list-style: none;
}

.cardopera{
    flex: 0 0 310px;    
}

.immagineopera img{
    margin: auto;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.immagineopera{
    background-color: var(--imageBackground);
    min-height: 350px;
    display: flex;
    align-items: center;
}

.immagineopera:hover{
    background-color: var(--imageBackgroundHover);
}

#opere li figure figcaption{
    text-align: left;
    margin-top: 0.5em;
}

#opere li figure figcaption a{
    color: black;
    text-decoration: none;
}

#opere li figure figcaption a:hover{
    text-decoration: underline;
}

#opere li figure figcaption .title{
    font-size: large;
}

#opere li figure figcaption .artista{
    font-size: small; 
}

#navpagine{
    background-color: var(--bgColor);
    width: min(85vw, 1440px);
    margin: auto;
    text-align: center;
}

#pagine{
    list-style: none;
    margin: 1em;
}

.pagina{
    display: inline-block;
    color: var(--txtColor);
}

#pagine .pagina a{
    background-color: var(--imageBackground);
    border: 1px solid var(--footerBgColor);
    padding: 0.5em 1em;
    text-decoration: none;
}

#pagine .pagina a:link{
    color: var(--txtColor);
}

#pagine .pagina a:hover{
    text-decoration: underline;
    background-color: var(--imageBackgroundHover);
}

#navpagine a, #navpagine a:link, #navpagine a:visited{
    color: var(--txtColor);
    text-decoration: none;
}

#tornasu{
    padding: 1em;   
    width: fit-content;
    margin: auto;
    background-color: var(--imageBackground);
    border: 1px solid var(--footerBgColor);
}

#tornasu:hover{
    background-color: var(--imageBackgroundHover);
    text-decoration: underline;
}

 /*
#artisti{
    display: grid;
    margin: 1em 0em;
    justify-content: center;
    gap: 1em;
    max-width: min(85vw, 1440px);
    list-style: none;
}

@media (min-width: 600px) {
    #artisti {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 950px) {
    #artisti {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1250px) {
    #artisti {
        grid-template-columns: repeat(4, 1fr);
    }
}*/


#artisti{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0em;
    justify-content: center;
    gap: 1em;
    max-width: min(85vw, 1440px);
    list-style: none;
}

.cardartista{
    flex: 0 0 310px;    
}


.immagineartista img{
    margin: auto;
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 80%;
    border-radius: 50%;
}

.immagineartista{
    background-color: var(--imageBackground);
    min-height: 300px;
    display: flex;
    align-items: center;
}

.immagineartista:hover{
    background-color: var(--imageBackgroundHover);
}

#artisti li figure figcaption{
    text-align: left;
    margin-top: 0.5em;
}

#artisti li figure figcaption{
    color: black;
    text-decoration: none;
}

#artisti li figure figcaption .nome{
    font-size: large;
}

#artisti li figure figcaption .username{
    font-size: small;
}

:root{
    
    --color-grey-800:#4c4f50;
    --color-grey-700:#65696a;
    --color-grey-600:#a0a0a0;
    --color-white:#fff;
    --color-site-background:var(--color-white);
    --color-text:var(--colorDarkGrey);
    --color-text-accent:var(--color-grey-700);
    --color-border: var(--color-grey-600);
    scroll-behavior: smooth;
}
button{
    background:transparent;
    border:0;
    border-radius:4px;
    font-size:1em;
    padding:0
}
button:not(:disabled):hover,button:not(:disabled):focus{
    cursor:pointer
}
button:disabled,button:disabled:focus,button:disabled:hover{
    color:var(--color-text-accent);
}
.button_reverse{
    min-width:160px;
    padding:.5em .75em;
    text-decoration:none
}
.button_reverse{
    box-shadow:inset 0 0 0 2px var(--color-text)
}
.button_reverse:focus,.button_reverse:hover{
    background-color:var(--color-text);
    color:var(--color-site-background)
}
.button_reverse:focus-visible{
    background-color:var(--color-focus-state-background);
    color:var(--color-grey-800);
    outline-color:var(--color-focus-state-background);
    outline-offset:0;
    outline-width:4px
}
.search_bar {
    --input-height: 48px;
    background-color: var(--color-white);
    border: 1.5px solid var(--color-border);
    border-radius: 4px;
    display: flex;
    height: 48px;
    width: 100%;
}
.search_bar:hover {
    border: 1.5px solid var(--colorDarkGrey);
}
.search_bar input {
    font-size: 1.1em;
    background-color: var(--color-white);
    border-radius:4px;
    border:1px solid var(--color-white);
    box-sizing: border-box;
    color: var(--colorDarkGrey);
    flex-basis: 100%;
    height: 100%;
    padding: 10px;
    text-overflow: ellipsis;
    width: 100%;
}
.search_bar input:focus-visible {
    background: var(--color-white);
    outline-width: 0;
}
.search_button {
    border-left: 1.5px solid var(--color-border);
    border-radius: 0;
    color: currentColor;
    height: 100%;
    line-height: 0;
    width: 60px;
}
.search_button:hover {
    background-color: var(--color-border);
    color: var(--color-white);
}
.search_button:focus-visible {
    background-color: var(--color-met-red-medium);
    outline-width: 0;
}

.filters_section {
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c5c7c7;
}
.filters_section summary {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
}
.filters_section summary::-webkit-details-marker {
    display: none;
}
.filters_section summary:hover {
    text-decoration: underline;
}
.filters_section summary:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' style='transform:rotate(180deg)' viewBox='0 0 48 48'%3E%3Cpath fill='%23333' stroke='%23333' stroke-width='2.5' d='M14 8.223 16.077 6 35 24.011 16.079 42 14 39.777l16.888-15.813L14 8.224Z'/%3E%3C/svg%3E");
    height: 25px;
    width: 25px;
}
.filters_section [open] summary:after {
    transform:rotate(270deg)
}

.artwork_gallery_item {
    margin: 0;
}

.artwork_gallery_item_image {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--colorLightGrey);
    color: var(--colorDarkGrey);
    height: 350px;
    min-height: 350px;
    min-width: 250px;
    line-height: 0;
    margin-bottom: 10px;
}
.artwork_gallery_item_image:hover {
    background-color: var(--colorMediumGrey);
    box-shadow: inset 1px 0 0 0 var(--colorMediumGrey);
}
.artwork_gallery_item_image a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.artwork_gallery_item_image a:focus-visible {
    background-color: unset;
    outline: none;
}
.artwork_gallery_item_image img {
    height: auto;
    margin: auto;
    max-height: 100%;
    max-width: 85vw;
    width: auto;
    transition: all .4s ease-out;
}
.artwork_gallery_item_image img {
    max-width: 100%;
}
.artwork_gallery_item_image img:focus-within, .artwork_gallery_item_image img:hover {
    transform: scale(1.06);
}


.artwork_gallery_item_title{
    font-size: 1.2em;
    margin: 5px 0 0 10px;
}
.artwork_gallery_item_title a{
    border:none;
    text-decoration: none;
    color: black;
}
.artwork_gallery_item figcaption a:focus,
.artwork_gallery_item figcaption a:hover {
    text-decoration: underline;
}

.results_gallery {
    max-width: min(85vw, 1440px);
    margin: 40px auto;
}

.results_section {
    max-width: min(85vw, 1440px);
    grid-column-gap: 25px;
    column-gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 30px auto;
    grid-row-gap: 30px;
    row-gap: 30px;
}

.select_filter {
    width:max-content;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 600;
    height: 100%;
    padding: 10px;
    text-overflow: ellipsis;
}

.search_section {
    max-width: min(85vw,1440px);
    margin: auto;
}

.filters_labels {
    padding-bottom: 25px;
}
.filters_labels p {
    font-size: 1.2em;
    font-weight: bold;
}
.filters_labels ul {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.filters_labels ul li {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    white-space: nowrap;
}
.filters_labels ul li input {
    cursor: inherit;
}
.filters_labels ul li label {
    cursor: inherit;
}
.label_checkbox {
    accent-color: var(--colorDarkGrey);
    margin-right: 8px;
}

.return_top_button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hidden {
  display: none;
}

.pagination {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 25px;
}
.pagination_controls {
    height: 40px;
    min-width: 0;
    width: 40px;
}
.pagination_controls:disabled,
.pagination_controls:disabled:focus,
.pagination_controls:disabled:hover {
    background-color: transparent;
    border: 0;
    opacity: 0.7;
}
.pagination_number{
  margin: 0 0.25rem;
}
.button_reverse.pagination_controls.pagination_number.active{
    background-color:var(--color-text);
    color:var(--color-site-background);
}