*{
    padding: 0em;
    margin : 0em;
}

:root{

    /*I colori inseriti sono gli stessi del sito di unipd */
    --headerBgColor: #9B0014;
    --headetTxColor: #FFF;
    --mainBgColor: #FFF;
    --mainTxColor: #000;
    --footerBgColor: #454953;
    --footerTxColor: #FFF;

    /*colori da decidere*/
    --linkColor: ; /*Da decidere*/
    --visitedLinkColor: ; /*Da decidere*/

    --font-body-family:"Roboto Condensed", sans-serif; /*Da decidere*/
}

html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--mainBgColor);
    color: var(--mainTxColor);
}

.navigationHelp{
    position: absolute;
    text-indent: -999em;
    font-size: 1px;
}

header{
    background-color: var(--headerBgColor);
    color: var(--headetTxColor);
    text-align: center;
}

nav{
    background-color: var(--headerBgColor);
    color: var(--headetTxColor);
}

a{
    text-decoration: underline;
}
a:link{
    color: var(--linkColor);
}
a:visited{
    color: var(--visitedLinkColor);
}

footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxColor);
}