<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <title>Crea opera | Boseum</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="../assets/images/favicon.png" />
        <meta
            name="keywords"
            content="museo d'arte, palazzo bo, università degli studi di padova, padova, nuova opera" />
        <meta
            name="description"
            content="Inserisci una nuova opera da esporre al Boseum" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../assets/CSS/style.css" media="screen" />
        <link
            rel="stylesheet"
            href="../assets/CSS/mini.css"
            media="screen and (max-width:600px)" />
        <link rel="stylesheet" href="../assets/CSS/print.css" media="print" />
    </head>
    <body>
        <header>
            <nav class="navigationHelp" aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav>
            <h1 lang="en">Boseum</h1>

            <div id="menu">
                <input
                    class="menu_checkbox"
                    type="checkbox"
                    id="hamburger-toggle"
                    aria-label="Toggle Navigation" />
                <label class="hamburger" for="hamburger-toggle">
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                </label>
                <nav>
                    <ul>
                        <li>
                            <a href="index.php"><span lang="en">Home</span></a>
                        </li>
                        <li>
                            <a href="artisti.php">Artisti</a>
                        </li>
                        <li>
                            <a href="opere.php">Opere</a>
                        </li>
                        <li>
                            <a href="mostre.php">Mostre</a>
                        </li>
                        <li>{{login_or_profile_title}}</li>
                    </ul>
                </nav>
            </div>
        </header>
        <nav id="breadcrumb">
            <span>Ti trovi in:</span>
            <ul class="breadcrumb">
                <li>
                    <a href="index.php"><span lang="en">Home</span></a>
                </li>
                {{prev_page}}
                <li>
                    <span>{{page_title}}</span>
                </li>
            </ul>
        </nav>
        <main id="content">
            <section class="ins_mod_page">
                <div class="ins_mod_container">
                    <h2>{{page_title}}</h2>
                    <p>
                        Inserisci i dati dell'opera. I campi obbligatori sono
                        segnati con (*).
                    </p>
                    {{error_message}}
                    <form
                        onsubmit="return validateNewArtwork('submit_button')"
                        action="../php/crea_opera.php"
                        method="post"
                        enctype="multipart/form-data">
                        <fieldset class="fieldset_item">
                            <legend>Immagini dell'opera</legend>
                            <div class="input_container">
                                <div class="form_item">
                                    {{keep_main_image}}
                                    <label for="main-image-input"
                                        >Immagine principale (*)</label
                                    >
                                    <input
                                        type="file"
                                        id="main-image-input"
                                        name="main_image"
                                        accept="image/png, image/jpeg"
                                        required />
                                    <div
                                        class="images_viewer"
                                        id="main-image-viewer">
                                        {{main_image}}
                                    </div>
                                </div>

                                <div class="form_item">
                                    {{keep_additional_images}}
                                    <label for="additional-images-input"
                                        >Immagini di dettaglio</label
                                    >
                                    <input
                                        type="file"
                                        id="additional-images-input"
                                        name="additional_images[]"
                                        accept="image/png, image/jpeg"
                                        multiple />
                                    <div
                                        class="images_viewer"
                                        id="additional-images-viewer">
                                        {{additional_images}}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset_item">
                            <legend>Informazioni dell'opera</legend>
                            <div class="form_item">
                                <label for="title">Titolo (*)</label>
                                <input
                                    onblur="checkTitle('title')"
                                    type="text"
                                    name="title"
                                    id="title"
                                    value="{{title}}"
                                    placeholder="Titolo dell'opera" />
                            </div>
                            <div class="form_item">
                                <p>
                                    Per favorire un'esperienza inclusiva,
                                    descrivi l'opera con dettagli chiari su
                                    colori, forme, dimensioni, scena,
                                    disposizioni e luci. Aggiungi emozioni e
                                    descrivi le espressioni per arricchire
                                    l'interpretazione. Grazie per contribuire a
                                    rendere questa esperienza condivisa e
                                    inclusiva!
                                </p>
                                <label for="description">Descrizione (*)</label>
                                <div>
                                    <textarea
                                        onblur="checkDescription('description')"
                                        placeholder="Descrizione dell'opera"
                                        spellcheck="true"
                                        rows="3"
                                        id="description"
                                        name="description"
                                        required>
{{description}}</textarea
                                    >
                                </div>
                            </div>
                            <div class="filters_labels form_item">
                                <span>Etichette correlate all'opera:</span>
                                {{labels}}
                            </div>
                        </fieldset>
                        <fieldset class="fieldset_item">
                            <legend>Dati dell'opera</legend>
                            <div class="input_container">
                                <div class="form_item">
                                    <label for="start_date"
                                        >Data di inizio</label
                                    >
                                    <input
                                        type="date"
                                        min="1900-01-01"
                                        id="start_date"
                                        name="start_date"
                                        value="{{start_date}}" />
                                </div>
                                <div class="form_item">
                                    <label for="end_date_past"
                                        >Data di fine</label
                                    >
                                    <input
                                        type="date"
                                        min="1900-01-01"
                                        id="end_date_past"
                                        name="end_date"
                                        value="{{end_date}}" />
                                </div>
                                <div class="form_item">
                                    <label for="height">Altezza (cm)</label>
                                    <input
                                        type="number"
                                        min="0"
                                        max="300"
                                        id="height"
                                        name="height"
                                        {{height}} />
                                </div>
                                <div class="form_item">
                                    <label for="width">Larghezza (cm)</label>
                                    <input
                                        type="number"
                                        min="0"
                                        max="300"
                                        id="width"
                                        name="width"
                                        {{width}} />
                                </div>
                                <div class="form_item">
                                    <label for="depth">Profondità (cm)</label>
                                    <input
                                        type="number"
                                        min="0"
                                        max="300"
                                        id="depth"
                                        name="depth"
                                        {{depth}} />
                                </div>
                            </div>
                        </fieldset>

                        {{submit_button}}
                    </form>
                    {{delete_section}}
                </div>
            </section>
        </main>
        <footer>
            <div id="infofoot">
                <p>Dove il sapere incontra l'arte</p>
                <ul id="listinfofoot">
                    <li>
                        Vieni a trovarci in
                        <a
                            href="https://maps.app.goo.gl/iicWxkvzbn2m2wsUA"
                            target="_blank"
                            >via VIII Febbraio, <abbr title="Numero">n</abbr>.
                            2, 35122 Padova</a
                        >
                    </li>
                    <li>
                        <abbr title="Telefono">Tel</abbr>:
                        <a href="tel:+390498273939">+39 0498273939</a>
                    </li>
                    <li>
                        <span lang="en">E-mail</span>:
                        <a href="mailto:tour@unipd.it"
                            ><span lang="en">tour</span>&commat;unipd.it</a
                        >
                    </li>
                    <li>
                        Seguici su
                        <a
                            href="https://www.instagram.com/visitunipd/?hl=it"
                            target="_blank"
                            lang="en"
                            >Instagram</a
                        >,
                        <a
                            href="https://it-it.facebook.com/visitunipd/"
                            target="_blank"
                            lang="en"
                            >Facebook</a
                        >
                        e
                        <a
                            href="https://vm.tiktok.com/ZMe791AJx/"
                            target="_blank"
                            lang="en"
                            >TikTok</a
                        >
                    </li>
                </ul>
            </div>
            <div id="logofoot">
                <img
                    src="../assets/images/logomini.svg"
                    alt=""
                    width="100"
                    height="100" />
            </div>
            <div id="orariofoot">
                <p id="descrOrariTable" class="navigationHelp">
                    La tabella contiene gli orari di apertura del museo, aperto
                    dal martedì alla domenica e chiuso il lunedì
                </p>
                <table aria-describedby="descrOrariTable">
                    <caption>
                        Orari di apertura
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Giorno</th>
                            <th scope="col">Mattino</th>
                            <th scope="col">Pomeriggio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Lunedì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">Chiuso</td>
                        </tr>
                        <tr>
                            <th scope="row">da Martedì a Venerdì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>15:00</time>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Sabato e Domenica</th>
                            <td data-title="mattino">
                                <time>08:00</time>-<time>11:00</time>
                            </td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>18:00</time>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
        <script src="../js/scripts.js"></script>
    </body>
</html>
