<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <title>Modifica profilo | Boseum</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="../assets/images/favicon.png" />
        <meta
            name="keywords"
            content="museo d'arte, palazzo bo, università degli studi di padova, padova, profilo, informazioni" />
        <meta
            name="description"
            content="Modifica il tuo profilo ufficiale Boseum" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="/rmichelo/php/" />
        <link rel="stylesheet" href="../assets/CSS/style.css" media="screen" />
        <link
            rel="stylesheet"
            href="../assets/CSS/mini.css"
            media="screen and (max-width:600px)" />
        <link rel="stylesheet" href="../assets/CSS/print.css" media="print" />
    </head>
    <body>
        <header>
            <nav class="navigationHelp" aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav>
            <h1 lang="en">Boseum</h1>

            <div id="menu">
                <input
                    class="menu_checkbox"
                    type="checkbox"
                    id="hamburger-toggle" />
                <label class="hamburger" for="hamburger-toggle">
                    <span id="hamburger-label">Mostra/nascondi menu</span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                </label>
                <nav>
                    <ul>
                        <li>
                            <a href="index.php"><span lang="en">Home</span></a>
                        </li>
                        <li>
                            <a href="artisti.php">Artisti</a>
                        </li>
                        <li>
                            <a href="opere.php">Opere</a>
                        </li>
                        <li>
                            <a href="mostre.php">Mostre</a>
                        </li>
                        <li>{{login_or_profile_title}}</li>
                    </ul>
                </nav>
            </div>
        </header>
        <nav id="breadcrumb" aria-label="Breadcrumb">
            <span>Ti trovi in:</span>
            <ul class="breadcrumb">
                <li>
                    <a href="index.php"><span lang="en">Home</span></a>
                </li>
                {{prev_page}}
                <li>
                    <span>Modifica profilo</span>
                </li>
            </ul>
        </nav>
        <main id="content">
            <section class="ins_mod_page">
                <div class="ins_mod_container">
                    <h2>Modifica profilo</h2>
                    <p>
                        Modifica i tuoi dati. I campi obbligatori sono segnati
                        con (*).
                    </p>
                    {{error_message}}
                    <form
                        id="edit_profile_form"
                        action="../php/modifica_profilo.php"
                        method="post"
                        enctype="multipart/form-data">
                        <fieldset class="fieldset_item">
                            <legend>Immagine profilo</legend>
                            <div class="form_item">
                                {{remove_profile_image}}
                                <label for="profile-image-input"
                                    >Immagine profilo</label
                                >
                                <input
                                    type="file"
                                    id="profile-image-input"
                                    name="profile_image"
                                    accept="image/png, image/jpeg" />
                                <div class="profile_image_section">
                                    <div class="artist_image_container">
                                        <img
                                            id="profile-image"
                                            src="{{profile_image}}"
                                            alt="immagine profilo" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset_item">
                            <legend>Informazioni personali</legend>
                            <div class="input_container">
                                <div class="form_item">
                                    <label for="name">Nome (*)</label>
                                    <input
                                        placeholder="Nome"
                                        type="text"
                                        id="name"
                                        name="name"
                                        value="{{nome}}"
                                        required />
                                </div>
                                <div class="form_item">
                                    <label for="lastname">Cognome (*)</label>
                                    <input
                                        placeholder="Cognome"
                                        type="text"
                                        id="lastname"
                                        name="lastname"
                                        value="{{lastname}}"
                                        required />
                                </div>
                                <div class="form_item">
                                    <label for="birth_date"
                                        >Data di nascita</label
                                    >
                                    <input
                                        type="date"
                                        id="birth_date"
                                        name="birth_date"
                                        value="{{birth_date}}"
                                        min="1900-01-01" />
                                </div>
                                <div class="form_item">
                                    <label for="birth_place"
                                        >Luogo di nascita</label
                                    >
                                    <input
                                        placeholder="Luogo di nascita"
                                        type="text"
                                        id="birth_place"
                                        name="birth_place"
                                        value="{{birth_place}}" />
                                </div>
                            </div>
                            <div class="form_item">
                                <label for="biography">Biografia</label>
                                <textarea
                                    placeholder="Biografia"
                                    spellcheck="true"
                                    rows="3"
                                    id="biography"
                                    name="biography">
{{biography}}</textarea
                                >
                            </div>
                            <div class="form_item">
                                <label for="experience">Esperienza</label>
                                <textarea
                                    placeholder="Esperienza"
                                    spellcheck="true"
                                    rows="3"
                                    id="experience"
                                    name="experience">
{{experience}}</textarea
                                >
                            </div>
                        </fieldset>
                        {{submit_button}}
                    </form>
                </div>
            </section>
        </main>
        <footer>
            <div id="infofoot">
                <p>Dove il sapere incontra l'arte</p>
                <ul id="listinfofoot">
                    <li>
                        Vieni a trovarci in
                        <a
                            href="https://maps.app.goo.gl/iicWxkvzbn2m2wsUA"
                            target="_blank"
                            >via VIII Febbraio, <abbr title="Numero">n</abbr>.
                            2, 35122 Padova</a
                        >
                    </li>
                    <li>
                        <abbr title="Telefono">Tel</abbr>:
                        <a href="tel:+390498273939">+39 0498273939</a>
                    </li>
                    <li>
                        <span lang="en">E-mail</span>:
                        <a href="mailto:tour@unipd.it"
                            ><span lang="en">tour</span>&commat;unipd.it</a
                        >
                    </li>
                    <li>
                        Seguici su
                        <a
                            href="https://www.instagram.com/visitunipd/?hl=it"
                            target="_blank"
                            lang="en"
                            >Instagram</a
                        >,
                        <a
                            href="https://it-it.facebook.com/visitunipd/"
                            target="_blank"
                            lang="en"
                            >Facebook</a
                        >
                        e
                        <a
                            href="https://vm.tiktok.com/ZMe791AJx/"
                            target="_blank"
                            lang="en"
                            >TikTok</a
                        >
                    </li>
                </ul>
            </div>
            <div id="orariofoot">
                <p id="descrOrariTable" class="navigationHelp">
                    La tabella contiene gli orari di apertura del museo, aperto
                    dal martedì alla domenica e chiuso il lunedì
                </p>
                <table aria-describedby="descrOrariTable">
                    <caption>
                        Orari di apertura
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Giorno</th>
                            <th scope="col">Mattino</th>
                            <th scope="col">Pomeriggio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Lunedì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">Chiuso</td>
                        </tr>
                        <tr>
                            <th scope="row">da Martedì a Venerdì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>15:00</time>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Sabato e Domenica</th>
                            <td data-title="mattino">
                                <time>08:00</time>-<time>11:00</time>
                            </td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>18:00</time>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
        <script src="../js/scripts.js"></script>
    </body>
</html>
