<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <title>Mostre | Boseum</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="../assets/images/favicon.png" />
        <meta
            name="keywords"
            content="museo d'arte, palazzo bo, università degli studi di padova, padova, mostra, esposizione, indirizzo, tema" />
        <meta
            name="description"
            content="Le mostre organizzate di Boseum, dove potrai ammirare le opere di studenti e studentesse" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../assets/CSS/style.css" media="screen" />
        <link
            rel="stylesheet"
            href="../assets/CSS/mini.css"
            media="screen and (max-width:600px)" />
        <link rel="stylesheet" href="../assets/CSS/print.css" media="print" />
    </head>
    <body>
        <header>
            <nav class="navigationHelp" aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav>
            <h1 lang="en">Boseum</h1>

            <div id="menu">
                <input
                    class="menu_checkbox"
                    type="checkbox"
                    id="hamburger-toggle"
                    aria-label="Toggle Navigation" />
                <label class="hamburger" for="hamburger-toggle">
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                </label>
                <nav>
                    <ul>
                        <li>
                            <a href="index.php"><span lang="en">Home</span></a>
                        </li>
                        <li>
                            <a href="artisti.php">Artisti</a>
                        </li>
                        <li>
                            <a href="opere.php">Opere</a>
                        </li>
                        <li>
                            <span>Mostre</span>
                        </li>
                        <li>{{login_or_profile_title}}</li>
                    </ul>
                </nav>
            </div>
        </header>
        <nav id="breadcrumb">
            <span>Ti trovi in:</span>
            <ul class="breadcrumb">
                <li>
                    <a href="index.php"><span lang="en">Home</span></a>
                </li>
                <li>
                    <span>Ricerca mostre</span>
                </li>
            </ul>
        </nav>
        <main id="content">
            <section id="artshow_layout">
                <div id="artshow_maintext">
                    <div class="artshow_maintext_info">
                        <h2 id="artshow_name">Palazzo Bo</h2>
                        <p class="artshow_info_mini">
                            Via VIII Febbraio, 2, 35122 Padova PD
                        </p>
                        <p id="artshow_maindescr">
                            Sede centrale dell'Università, Palazzo del Bo è uno
                            dei complessi edilizi più antichi e suggestivi di
                            Padova. Si articola attorno a due cortili
                            principali: quello cinquecentesco, detto “Cortile
                            Antico”, le cui mura sono ricoperte di antichi
                            stemmi e su cui affacciano la maestosa Aula Magna e
                            il primo Teatro Anatomico stabile al mondo (1595); e
                            il novecentesco “Cortile Nuovo“, che immette ad una
                            serie di ambienti decorati da grandi esponenti
                            dell'arte italiana. L'arte contemporanea a Palazzo
                            del Bo è presente con dipinti e sculture di alcuni
                            tra i maggiori artisti italiani del Novecento, come
                            Arturo Martini, Filippo De Pisis, Achille Funi,
                            Ferruccio Ferrazzi, Gino Severini.
                            <br />
                            Le mostre del museo non saranno localizzate in un
                            punto fisso del Palazzo, bensí verranno organizzate
                            nelle varie sale disponibili, a seconda del tema
                            proposto.
                        </p>
                    </div>
                </div>
                <img
                    src="../assets/images/palazzo_bo.jpg"
                    class="artshow_mainimage print_hidden"
                    alt="" />
            </section>
            <section class="search_section">
                <form id="search">
                    <h2>Ricerca mostre</h2>
                    <div class="search_bar">
                        <label for="searchbar">Titolo: </label>
                        <input
                            class="search_bar_input"
                            placeholder="Titolo mostra (facoltativo)"
                            type="search"
                            id="searchbar"
                            value="{{title}}"
                            name="title" />
                        <button
                            aria-label="Invio ricerca"
                            class="search_button">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 512 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                    fill="currentColor"
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                            </svg>
                        </button>
                    </div>
                    <section class="filters_section">
                        <details open>
                            <summary>
                                <span>Filtri</span>
                            </summary>
                            <section>
                                <div class="select_filter_list">
                                    <div class="select_filter_container">
                                        <label for="start_date">Inizio:</label>
                                        <input
                                            type="date"
                                            id="start_date"
                                            name="start_date"
                                            value="{{start_date}}"
                                            min="1900-01-01" />
                                    </div>
                                    <div class="select_filter_container">
                                        <label for="end_date">Fine:</label>
                                        <input
                                            type="date"
                                            id="end_date"
                                            name="end_date"
                                            value="{{end_date}}"
                                            min="1900-01-01" />
                                    </div>
                                </div>
                            </section>
                        </details>
                    </section>
                </form>
            </section>
            <section class="results_gallery">
                <p id="top_gallery">
                    La ricerca ha prodotto {{count}} risultato/i.
                </p>
                {{artshow_items}}
            </section>
        </main>
        <footer>
            <div id="infofoot">
                <p>Dove il sapere incontra l'arte</p>
                <ul id="listinfofoot">
                    <li>
                        Vieni a trovarci in
                        <a
                            href="https://maps.app.goo.gl/iicWxkvzbn2m2wsUA"
                            target="_blank"
                            >via VIII Febbraio, <abbr title="Numero">n</abbr>.
                            2, 35122 Padova</a
                        >
                    </li>
                    <li>
                        <abbr title="Telefono">Tel</abbr>:
                        <a href="tel:+390498273939">+39 0498273939</a>
                    </li>
                    <li>
                        <span lang="en">E-mail</span>:
                        <a href="mailto:tour@unipd.it"
                            ><span lang="en">tour</span>@unipd.it</a
                        >
                    </li>
                    <li>
                        Seguici su
                        <a
                            href="https://www.instagram.com/visitunipd/?hl=it"
                            target="_blank"
                            lang="en"
                            >Instagram</a
                        >,
                        <a
                            href="https://it-it.facebook.com/visitunipd/"
                            target="_blank"
                            lang="en"
                            >Facebook</a
                        >
                        e
                        <a
                            href="https://vm.tiktok.com/ZMe791AJx/"
                            target="_blank"
                            lang="en"
                            >TikTok</a
                        >
                    </li>
                </ul>
            </div>
            <div id="logofoot">
                <img
                    src="../assets/images/logomini.svg"
                    alt=""
                    width="100"
                    height="100" />
            </div>
            <div id="orariofoot">
                <p id="descrOrariTable" class="navigationHelp">
                    La tabella contiene gli orari di apertura del museo, aperto
                    dal martedì alla domenica e chiuso il lunedì
                </p>
                <table aria-describedby="descrOrariTable">
                    <caption>
                        Orari di apertura
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Giorno</th>
                            <th scope="col">Mattino</th>
                            <th scope="col">Pomeriggio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Lunedì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">Chiuso</td>
                        </tr>
                        <tr>
                            <th scope="row">da Martedì a Venerdì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>15:00</time>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Sabato e Domenica</th>
                            <td data-title="mattino">
                                <time>08:00</time>-<time>11:00</time>
                            </td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>18:00</time>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
        <script src="../js/scripts.js"></script>
    </body>
</html>
