<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <title>Registrazione | Boseum</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="../assets/images/favicon.png" />
        <meta
            name="keywords"
            content="museo d'arte, palazzo bo, università degli studi di padova, padova, iscriviti" />
        <meta
            name="description"
            content="Registrati alla pagina Boseum come artista per 
        prendere parte a questa iniziativa e esporre le tue opere 
        nelle nostre mostre" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../assets/CSS/style.css" media="screen" />
        <link
            rel="stylesheet"
            href="../assets/CSS/mini.css"
            media="screen and (max-width:600px)" />
        <link rel="stylesheet" href="../assets/CSS/print.css" media="print" />
    </head>
    <body>
        <header>
            <nav class="navigationHelp" aria-label="Aiuti alla navigazione">
                <a class="navigationHelp" href="#content">Vai al contenuto</a>
            </nav>
            <h1 lang="en">Boseum</h1>

            <div id="menu">
                <input
                    class="menu_checkbox"
                    type="checkbox"
                    id="hamburger-toggle"
                    aria-label="Toggle Navigation" />
                <label class="hamburger" for="hamburger-toggle">
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                </label>
                <nav>
                    <ul>
                        <li>
                            <a href="index.php"><span lang="en">Home</span></a>
                        </li>
                        <li>
                            <a href="artisti.php">Artisti</a>
                        </li>
                        <li>
                            <a href="opere.php">Opere</a>
                        </li>
                        <li>
                            <a href="mostre.php">Mostre</a>
                        </li>
                        <li><span lang="en">Sign up</span></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main id="content">
            <section class="login_page">
                <div class="login_container">
                    <h2>Crea account</h2>
                    <p>
                        Inserisci i tuoi dati. I campi obbligatori sono segnati
                        con (*).
                    </p>
                    <p>
                        Già registrato?
                        <a href="login.php">Accedi qui</a>
                    </p>
                    {{error_message}}
                    <form
                        action="signup.php"
                        method="post"
                        onsubmit="return validateSignup('submit_button')">
                        <fieldset class="fieldset_item">
                            <legend>Dati account</legend>
                            <div class="input_container">
                                <div class="form_item">
                                    <label for="username">Username (*)</label>
                                    <input
                                        onblur="checkUsername('username')"
                                        placeholder="Username"
                                        type="text"
                                        id="username"
                                        name="username"
                                        value="{{username}}"
                                        required />
                                </div>
                                <div class="form_item">
                                    <label for="password">Password (*)</label>
                                    <input
                                        onblur="checkPassword('password')"
                                        placeholder="Password"
                                        type="password"
                                        id="password"
                                        name="password"
                                        value=""
                                        required />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset_item">
                            <legend>Dati personali</legend>
                            <div class="input_container">
                                <div class="form_item">
                                    <label for="name">Nome (*)</label>
                                    <input
                                        onblur="checkName('name')"
                                        placeholder="Nome"
                                        type="text"
                                        id="name"
                                        name="name"
                                        value="{{name}}"
                                        required />
                                </div>
                                <div class="form_item">
                                    <label for="lastname">Cognome (*)</label>
                                    <input
                                        onblur="checkName('lastname')"
                                        placeholder="Cognome"
                                        type="text"
                                        id="lastname"
                                        name="lastname"
                                        value="{{lastname}}"
                                        required />
                                </div>
                                <div class="form_item">
                                    <label for="birthdate"
                                        >Data di nascita</label
                                    >
                                    <input
                                        type="date"
                                        id="birthdate"
                                        name="birthdate"
                                        value="{{birth_date}}"
                                        min="1900-01-01" />
                                </div>
                                <div class="form_item">
                                    <label for="birthplace"
                                        >Luogo di nascita</label
                                    >
                                    <input
                                        onblur="checkBirthPlace('birthplace')"
                                        placeholder="Luogo di nascita"
                                        type="text"
                                        id="birthplace"
                                        name="birthplace"
                                        value="{{birth_place}}" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="form_button">
                            <button
                                type="submit"
                                class="btn-primary"
                                id="submit_button"
                                name="create_account">
                                Registrati
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <footer>
            <div id="infofoot">
                <p>Dove il sapere incontra l'arte</p>
                <ul id="listinfofoot">
                    <li>
                        Vieni a trovarci in
                        <a
                            href="https://maps.app.goo.gl/iicWxkvzbn2m2wsUA"
                            target="_blank"
                            >via VIII Febbraio, <abbr title="Numero">n</abbr>.
                            2, 35122 Padova</a
                        >
                    </li>
                    <li>
                        <abbr title="Telefono">Tel</abbr>:
                        <a href="tel:+390498273939">+39 0498273939</a>
                    </li>
                    <li>
                        <span lang="en">E-mail</span>:
                        <a href="mailto:tour@unipd.it"
                            ><span lang="en">tour</span>&commat;unipd.it</a
                        >
                    </li>
                    <li>
                        Seguici su
                        <a
                            href="https://www.instagram.com/visitunipd/?hl=it"
                            target="_blank"
                            lang="en"
                            >Instagram</a
                        >,
                        <a
                            href="https://it-it.facebook.com/visitunipd/"
                            target="_blank"
                            lang="en"
                            >Facebook</a
                        >
                        e
                        <a
                            href="https://vm.tiktok.com/ZMe791AJx/"
                            target="_blank"
                            lang="en"
                            >TikTok</a
                        >
                    </li>
                </ul>
            </div>
            <div id="logofoot">
                <img
                    src="../assets/images/logomini.svg"
                    alt=""
                    width="100"
                    height="100" />
            </div>
            <div id="orariofoot">
                <p id="descrOrariTable" class="navigationHelp">
                    La tabella contiene gli orari di apertura del museo, aperto
                    dal martedì alla domenica e chiuso il lunedì
                </p>
                <table aria-describedby="descrOrariTable">
                    <caption>
                        Orari di apertura
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Giorno</th>
                            <th scope="col">Mattino</th>
                            <th scope="col">Pomeriggio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Lunedì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">Chiuso</td>
                        </tr>
                        <tr>
                            <th scope="row">da Martedì a Venerdì</th>
                            <td data-title="mattino">Chiuso</td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>15:00</time>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Sabato e Domenica</th>
                            <td data-title="mattino">
                                <time>08:00</time>-<time>11:00</time>
                            </td>
                            <td data-title="pomeriggio">
                                <time>12:00</time>-<time>18:00</time>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
        <script src="../js/scripts.js"></script>
    </body>
</html>
